.accessories-slider {
  position: relative;

  max-width: 1366px;
  width: 100%;

  margin-right: auto;
  margin-left: auto;

  overflow: hidden;
}

.accessories-slider__button-next,
.accessories-slider__button-prev {
  position: absolute;
  top: 102px;
}

.accessories-slider__button-next {
  right: 66px;
}

.accessories-slider__button-prev {
  left: 66px;
}

.accessories-slider .goods-list__item:not(.swiper-slide-prev):not(.swiper-slide-active):not(.swiper-slide-next) {
  opacity: 0.2;
  pointer-events: none;
}

/* =====================================================================================
Media max-width: 1400px*/
@media (max-width: 1400px) {
  .accessories-slider {
    max-width: 1000px;
  }

  .accessories-slider__button-next,
  .accessories-slider__button-prev {
    top: 170px;
  }

  .accessories-slider__button-next {
    right: 5px;
  }

  .accessories-slider__button-prev {
    left: 5px;
  }
}

/* =====================================================================================
Media max-width: 1050px*/
@media (max-width: 1050px) {
  .accessories-slider {
    max-width: 600px;
  }

  .accessories-slider .swiper-slide-prev,
  .accessories-slider .swiper-slide-next {
    opacity: 0.2;
    pointer-events: none;
  }
}

/* =====================================================================================
Media max-width: 650px*/
@media (max-width: 650px) {
  .accessories-slider {
    max-width: 350px;
  }

  .accessories-slider__button-next,
  .accessories-slider__button-prev {
    top: 255px;

    outline: none;
  }

  .accessories-slider .goods-list {
    margin-top: -11px;
  }

  .accessories-slider__button-next {
    right: 16px;
  }

  .accessories-slider__button-prev {
    left: 16px;
  }
}
