.accessories {
  min-height: 942px;
  padding-top: 72px;

  background-color: $color-pearl-bush;
}

.accessories__content {
  padding-right: 10px;
}

.accessories__title {
  max-width: 800px;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;

  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: $color-shadow;
}

.accessories__text {
  max-width: 760px;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 62px;
  margin-left: auto;

  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;

  color: $color-shadow;
}

.accessories__btn-block {
  margin-top: 69px;

  overflow: hidden;
}

.accessories__btn {
  margin-right: auto;
  margin-left: auto;
}

/* =====================================================================================
Media max-width: 850px*/
@media (max-width: 850px) {
  .accessories {
    min-height: 730px;

    padding-top: 51px;
  }

  .accessories__inner {
    padding-left: 8px;
  }

  .accessories__title {
    margin-bottom: 15px;

    font-size: 22px;
    line-height: 30px;
  }

  .accessories__text {
    margin-bottom: 5px;

    font-size: 16px;
    line-height: 24px;
  }

  .accessories__btn-block {
    margin-top: 24px;
  }
}
