.advantages {
  min-height: 1021px;
  padding-top: 73px;

  background-color: $color-pearl-bush;
}

.advantages__content {
  padding-right: 11px;
}

.advantages__title {
  max-width: 800px;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;

  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;

  color: $color-shadow;
}

.advantages__text {
  max-width: 800px;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 81px;
  margin-left: auto;

  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;

  color: $color-shadow;
}

.advantages__btn-block {
  padding-right: 10px;

  overflow: hidden;
}

.advantages__btn {
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
}

/* =====================================================================================
Media max-width: 950px*/
@media (max-width: 950px) {
  .advantages__text {
    margin-bottom: 1px;
  }

  .advantages__btn {
    margin-top: 24px;
  }
}

/* =====================================================================================
Media max-width: 850px*/
@media (max-width: 850px) {
  .advantages {
    min-height: 767px;

    padding-top: 25px;
  }

  .advantages__inner {
    padding-left: 8px;
  }

  .advantages__title {
    margin-bottom: 13px;

    font-size: 22px;
    line-height: 30px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }
}
