.advantages-slider {
  position: relative;

  max-width: 1366px;
  width: 100%;

  margin-right: auto;
  margin-left: auto;

  overflow: hidden;
}

.advantages-slider__button-next,
.advantages-slider__button-prev {
  position: absolute;
  top: 102px;

  cursor: pointer;
}

.advantages-slider__button-next:hover,
.advantages-slider__button-next:focus,
.advantages-slider__button-prev:hover,
.advantages-slider__button-prev:focus {
  opacity: 0.7;
}

.advantages-slider__button-next:active,
.advantages-slider__button-prev:active {
  opacity: 0.5;
}

.advantages-slider__button-next {
  right: 63px;
}

.advantages-slider__button-prev {
  left: 60px;
}

.advantages-slider .goods-list__item:not(.swiper-slide-prev):not(.swiper-slide-active):not(.swiper-slide-next) {
  opacity: 0.2;
  pointer-events: none;
}

/* =====================================================================================
Media max-width: 1365px*/
@media (max-width: 1365px) {
  .advantages-slider {
    max-width: 1000px;
  }

.advantages-slider__button-next,
.advantages-slider__button-prev {
  top: 170px;
}

  .advantages-slider__button-next {
    right: 5px;
  }

  .advantages-slider__button-prev {
    left: 5px;
  }
}

/* =====================================================================================
Media max-width: 1050px*/
@media (max-width: 1050px) {
  .advantages-slider {
    max-width: 600px;
  }

  .advantages-slider .swiper-slide-prev,
  .advantages-slider .swiper-slide-next {
    opacity: 0.2;
    pointer-events: none;
  }
}

/* =====================================================================================
Media max-width: 650px*/
@media (max-width: 650px) {
  .advantages-slider {
    max-width: 350px;
  }

  .advantages-slider__button-next,
  .advantages-slider__button-prev {
    top: 264px;

    outline: none;
  }

  .advantages-slider__button-next {
    right: 16px;
  }

  .advantages-slider__button-prev {
    left: 16px;
  }
}
