.bike-list {
  display: flex;
  flex-wrap: nowrap;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.bike-list__item {
  flex-shrink: 0;

  max-width: 300px;
  width: 100%;
}

.bike-list__img-block {
  position: relative;

  max-width: 178px;
  width: 100%;
  min-height: 240px;

  margin-right: auto;
  margin-left: auto;

  border: 6px solid $color-pampas;
}

.bike-list__img-block img {
  position: absolute;
  left: 50%;
  bottom: 50px;

  max-width: none;

  transform: translateX(-50%);
}

.bike-list__description {
  display: flex;
  flex-direction: column;

  margin-top: -25px;
  margin-right: auto;
  margin-left: auto;
}

.bike-list__description a {
  z-index: 10;

  margin-right: auto;
  margin-left: auto;
}

.bike-list__description img {
  display: block;

  width: 50px;
  height: 50px;
}

.bike-list__description-title {
  max-width: 170px;

  margin-top: 14px;
  margin-right: auto;
  margin-bottom: 6px;
  margin-left: auto;

  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: $color-shadow;
}

.bike-list__description-parameters,
.bike-list__description-country {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.2px;

  color: $color-arrowtown;
}

.bike-list__description-price {
  margin-top: 9px;

  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: $color-chestnut;
}

// /* =====================================================================================
// Media max-width: 1300px*/
// @media (max-width: 1300px) {
//   .bike-list__item:nth-child(2n) {
//     margin-left: auto;
//   }

//   .bike-list__item:nth-child(3n) {
//     margin-right: 29px;
//   }
// }


// /* =====================================================================================
// Media max-width: 928px*/
// @media (max-width: 928px) {
//   .bike-list__item:nth-child(2n) {
//     margin-left: 0;
//   }

//   .bike-list__item:nth-child(3n) {
//     margin-right: 0;
//   }
// }
