.breadcrumb-list {
  display: flex;
  justify-content: space-between;

  max-width: 209px;
  width: 100%;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 69px;
  padding-top: 40px;
  padding-left: 0;

  list-style: none;
}

.breadcrumb-list__item a {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: $color-arrowtown;
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .breadcrumb-list {
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
  }
}
