.card-description {
  display: flex;

  padding-top: 50px;
  padding-bottom: 77px;
}

.card-description__content {
  max-width: 635px;
  width: 100%;
}

.card-description__content .stars-list__item {
  margin-right: 10px;
}

.card-description__title-box {
  display: none;
}

.card-description__slider {
  margin-right: 36px;
  margin-left: 70px;
}

.card-description__title {
  margin-top: 0;
  margin-bottom: 13px;

  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;

  color: $color-shadow;
}

.card-description__price {
  display: block;

  margin-top: 22px;
  margin-bottom: 19px;

  font-size: 48px;
  line-height: 56px;

  color: $color-chestnut;
}

.card-description__text {
  max-width: 475px;
  width: 100%;

  margin-top: 0;
  margin-bottom: 10px;

  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.2px;

  color: $color-shadow;
}

.card-description__guarantee {
  display: block;

  margin-bottom: 43px;

  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: $color-chestnut;
}

.card-description__btn {
  max-width: 273px;

  font-size: 24px;
  line-height: 30px;

  color: $color-pearl-bush;
  background-color: $color-chestnut;
  border: none;
}

.card-description__btn span {
  position: relative;

  padding-left: 32px;
}

.card-description__btn span::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 0;

  height: 19px;
  width: 21px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* =====================================================================================
Media max-width: 1350px*/
@media (max-width: 1350px) {
  .card-description {
    flex-direction: column;
  }

  .card-description__title-box {
    display: block;

    text-align: center;
  }

  .card-description .stars-list {
    margin-right: auto;
    margin-left: auto;
  }

  .card-description__content {
    width: 100%;
    max-width: none;

    text-align: center;
  }

  .card-description__content .card-description__title,
  .card-description__content .stars-list,
  .card-description__content .card-description__price {
    display: none;
  }

  .card-description__slider {
    margin-right: auto;
    margin-left: auto;
  }

  .description-slider__inner {
    margin-right: auto;
    margin-left: auto;
  }

  .card-description__btn {
    margin-right: auto;
    margin-left: auto;
  }

  .card-description__text {
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .card-description {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .card-description__title {
    margin-bottom: 0;

    font-size: 28px;
    line-height: 56px;
  }

  .card-description .stars-list {
    padding-left: 10px;
  }

  .card-description .stars-list::after {
    top: -8px;
    right: 18px;

    font-size: 16px;
    line-height: 30px;
  }

  .card-description .stars-list__item {
    margin-right: 10px;
  }

  .card-description__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .card-description__price {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 28px;
    line-height: 56px;
  }

  .card-description__text {
    order: 1;

    margin-top: 13px;
    margin-bottom: 13px;

    font-size: 16px;
    line-height: 24px;
  }

  .card-description__guarantee {
    margin-bottom: 6px;
  }

  .card-description__btn {
    order: 2;

    width: 196px;
    height: 52px;

    margin-top: 54px;
    margin-bottom: 14px;
  }
}


/* =====================================================================================
Media max-width: 500px*/
@media (max-width: 500px) {
  .card-description__text {
    max-width: 290px;
  }
}
