.card-tabs {
  max-width: 1089px;
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}

.card-tabs > input,
.card-tabs .card-tabs__content > div {
  display: none;
}

#detailed-description:checked ~ .card-tabs__content .card-tabs__content-item--detailed-description,
#guarantee:checked ~ .card-tabs__content .card-tabs__content-item--guarantee,
#reviews:checked ~ .card-tabs__content .card-tabs__content-item--reviews,
#survey:checked ~ .card-tabs__content .card-tabs__content-item--survey {
  display: block;
}

.card-tabs__list {
  display: flex;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.card-tabs__list-item {
  max-width: 273px;
  width: 100%;
  min-height: 60px;

  text-align: center;
}

.card-tabs__content-wrapper {
  margin-top: 50px;
}

.card-tabs__list-item label {
  display: block;
  width: 100%;
  height: 100%;

  padding-top: 16px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgba($color-shadow, 0.5);

  border: 1px solid rgba($color-arrowtown, 0.5);
  border-bottom: 0;
}

#detailed-description:checked ~ .card-tabs__list .card-tabs__item--detailed-description label,
#guarantee:checked ~ .card-tabs__list .card-tabs__item--guarantee label,
#reviews:checked ~ .card-tabs__list .card-tabs__item--reviews label,
#survey:checked ~ .card-tabs__list .card-tabs__item--survey label {
  position: relative;

  color: $color-shadow;

  border: 1px solid $color-arrowtown;
}

#detailed-description:checked ~ .card-tabs__list .card-tabs__item--detailed-description label::after,
#guarantee:checked ~ .card-tabs__list .card-tabs__item--guarantee label::after,
#reviews:checked ~ .card-tabs__list .card-tabs__item--reviews label::after,
#survey:checked ~ .card-tabs__list .card-tabs__item--survey label::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -2px;

  display: block;
  height: 2px;
  width: 100%;

  background-color: $color-pearl-bush;
}

.card-tabs__list-item label:hover {
  opacity: 1;
}

.card-tabs__list-item label:active {
  opacity: 0.7;
}

.card-tabs__content {
  min-height: 330px;

  border: 1px solid $color-arrowtown;
}

.card-tabs__content-item {
  padding-left: 52px;
}

.card-tabs__btn {
  max-width: 273px;
  min-height: 60px;

  margin-top: 35px;

  background-color: transparent;
}

.card-tabs__content-item label {
  display: none;
}

/* =====================================================================================
Media max-width: 975px*/
@media (max-width: 975px) {
  .card-tabs__content {
    display: flex;
    flex-direction: column;

    border: none;
  }

  .card-tabs .card-tabs__content > div {
    display: block;
  }

  .card-tabs__list {
    display: none;
  }

  .card-tabs__content-item {
    position: relative;

    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 17px;

    letter-spacing: 0.7px;

    border-top: 1px solid $color-arrowtown;
  }

  .card-tabs__content-item--survey {
    border-bottom: 1px solid $color-arrowtown;
  }

  .card-tabs__content-item--detailed-description,
  .card-tabs__content-item--guarantee,
  .card-tabs__content-item--reviews,
  .card-tabs__content-item--survey {
    opacity: 0.5;
  }

  #detailed-description:checked ~ .card-tabs__content .card-tabs__content-item--detailed-description,
  #guarantee:checked ~ .card-tabs__content .card-tabs__content-item--guarantee,
  #reviews:checked ~ .card-tabs__content .card-tabs__content-item--reviews,
  #survey:checked ~ .card-tabs__content .card-tabs__content-item--survey {
    opacity: 1;
  }

  .card-tabs__content-item label {
    display: block;

    font-size: 24px;
    line-height: 30px;
  }

  .card-tabs__content-wrapper {
    display: none;

    margin-top: 36px;
  }

  #detailed-description:checked ~ .card-tabs__content .card-tabs__content-item--detailed-description .card-tabs__content-wrapper,
  #guarantee:checked ~ .card-tabs__content .card-tabs__content-item--guarantee .card-tabs__content-wrapper,
  #reviews:checked ~ .card-tabs__content .card-tabs__content-item--reviews .card-tabs__content-wrapper,
  #survey:checked ~ .card-tabs__content .card-tabs__content-item--survey .card-tabs__content-wrapper {
    display: block;
  }

  .card-tabs__btn {
    margin-top: 31px;
    margin-bottom: 16px;
  }
}
