.catalog {
  background-color: $color-pearl-bush;
}

.catalog__inner {
  display: flex;
}

.catalog__filter {
  max-width: 182px;
  width: 100%;

  margin-right: 27px;
}

.catalog__content {
  max-width: 987px;
  width: 100%;
}

.catalog__content .goods-list {
  flex-wrap: wrap;
}

.catalog__content .goods-list__item {
  margin-left: 46px;
  margin-bottom: 49px;
}


/* =====================================================================================
Media max-width: 1290px*/
@media (max-width: 1290px) {
  .catalog__content .goods-list__item {
    margin-right: 0;
  }

  .catalog__content .goods-list__item {
    margin-left: 60px;
  }

}

/* =====================================================================================
Media max-width: 930px*/
@media (max-width: 930px) {
  .catalog__content .goods-list__item {
    margin-left: 50px;
  }
}

/* =====================================================================================
Media max-width: 915px*/
@media (max-width: 915px) {
  .catalog__filter {
    display: none;
  }
}

/* =====================================================================================
Media max-width: 700px*/
@media (max-width: 700px) {
  .catalog__content .goods-list {
    flex-direction: column;
  }

  .catalog__content .goods-list__item {
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: auto;
    padding-top: 20px;
  }

  .catalog__content .goods-list__item:nth-child(2n) {
    margin-right: auto;
    margin-left: auto;
  }

  .catalog__content .goods-list__item:nth-child(3n) {
    margin-right: auto;
  }
}
