.catalog {
  background-color: $color-pearl-bush;
}

.catalog__inner {
  display: flex;
}

.catalog__filter {
  max-width: 182px;
  width: 100%;

  margin-right: 63px;
}

.catalog__content {
  max-width: 966px;
  width: 100%;
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .catalog__filter {
    display: none;
  }
  // .catalog__filter {
  //   z-index: 100;

  //   position: fixed;
  //   top: 76px;
  //   left: 0;

  //   max-width: none;
  //   width: 95%;
  //   min-height: 100vh;

  //   padding-left: 15px;

  //   background-color: $color-pampas;
  //   box-shadow: 4px 0 20px rgba(23, 23, 22, 0.1);
  // }
}
