.description-slider {
  position: relative;


  max-width: 450px;
  width: 100%;
}

.description-slider__inner {
  width: 353px;
  min-height: 425px;

  border: 6px solid $color-pampas;
}

.description-slider img {
  max-width: none;
}
