.description-slider {
  position: relative;

  max-width: 450px;
  width: 100%;

  margin-top: 7px;
}

.description-slider__inner {
  margin-left: -96px;

  background-color: $color-pearl-bush;
}


.description-slider__inner .swiper-container {
  min-height: 453px;
}

.description-slider__inner .swiper-slider__inner {
  position: relative;

  min-height: 425px;
  width: 353px;

  margin-right: auto;
  margin-left: auto;

  border: 6px solid $color-pampas;
}

.description-slider__inner .swiper-slider__img-box img {
  position: absolute;
  top: 61px;
  left: -49px;

  max-width: none;
  width: 414px;
  height: 246px;
}

.description-slider__inner .swiper-slider__link-loupe {
  position: absolute;
  bottom: -31px;
  left: 145px;

  width: 50px;
  height: 50px;
}

.description-slider__inner .swiper-slider__link-loupe:hover,
.description-slider__inner .swiper-slider__link-loupe:focus {
  opacity: 0.7;
}

.description-slider__inner .swiper-slider__link-loupe:active {
  opacity: 0.5;

  cursor: pointer;
}

.description-slider__inner .swiper-pagination {
  bottom: 74px;
  left: 0;
}

.description-slider__inner .swiper-pagination-bullet {
  margin-right: 5px;

  height: 19px;
  width: 19px;

  opacity: 1;
}

.description-slider__inner .swiper-pagination-bullet-active {
  position: relative;

  background: $color-mine-shaft;
  z-index: -1;
}

.description-slider__inner .swiper-pagination-bullet-active::after {
  content: "";

  position: absolute;
  top: -5px;
  left: -5px;

  height: 25px;
  width: 25px;

  border: 2px solid $color-arrowtown;
  border-radius: 50px;
}

.description-slider__inner .swiper-pagination-bullet:first-child {
  background-color: $color-roman-coffee;
  z-index: 5;
}

.description-slider__inner .swiper-pagination-bullet:last-child {
  background-color: $color-straw;
  z-index: 5;
}

/* =====================================================================================
Media max-width: 1350px*/
@media (max-width: 1350px) {
  .description-slider__inner {
    margin-left: auto;
  }
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .description-slider__inner .swiper-slider__inner {
    min-height: 280px;
    width: 240px;
  }

  .description-slider__inner .swiper-slider__img-box img {
    top: 30px;
    left: -4px;

    height: 145px;
    width: 235px;
  }

  .description-slider__inner .swiper-slider__link-loupe {
    left: 89px;
  }

  .description-slider__inner .swiper-container {
    min-height: 310px;
  }

  .description-slider__inner .swiper-pagination {
    bottom: 67px;
  }

  .description-slider__inner .swiper-pagination-bullet {
    outline: none;
  }

  .card-description__btn {
    margin-top: 25px;

    max-width: 196px;
  }
}
