.footer {
  width: 100%;
}

.footer__inner {
  padding-left: 69px;
}

.footer__nav-footer {
  margin-bottom: 33px;
}

/* =====================================================================================
Media max-width: 1300px*/
@media (max-width: 1300px) {
  .footer__inner {
    padding-left: 0;
  }
}
