.goods-list {
  display: flex;
  flex-wrap: nowrap;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.goods-list__item {
  flex-shrink: 0;

  width: 283px;

  background-color: $color-pearl-bush;
}

.goods-list__img-block {
  position: relative;

  width: 178px;
  min-height: 240px;

  margin-right: auto;
  margin-left: auto;

  border: 6px solid $color-pampas;
}

.goods-list__img-block img {
  position: absolute;
  left: 50%;
  bottom: 56px;

  max-width: none;

  transform: translateX(-50%);
  mix-blend-mode: multiply;
}

.goods-list__description {
  display: flex;
  flex-direction: column;

  margin-top: -25px;
  margin-right: auto;
  margin-left: auto;
}

.goods-list__description a {
  z-index: 10;

  margin-right: auto;
  margin-left: auto;
}

.goods-list__description-parameters {
  max-width: 200px;
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}

.goods-list__description img {
  display: block;

  width: 50px;
  height: 50px;
}

.goods-list__description-title {
  max-width: 170px;

  margin-top: 14px;
  margin-right: auto;
  margin-bottom: 6px;
  margin-left: auto;

  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: $color-shadow;
}

.goods-list__description-parameters,
.goods-list__description-country {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.2px;

  color: $color-arrowtown;
}

.goods-list__description-price {
  margin-top: 9px;

  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: $color-chestnut;
}


/* =====================================================================================
Media max-width: 950px*/
@media (max-width: 950px) {
  .goods-list__item {
    padding-top: 35px;
  }

  .goods-list__img-block {
    min-height: 180px;
  }

  .goods-list__img-block img {
    bottom: 28px;
  }

  .goods-list__description-price {
    margin-top: 4px;
  }
}
