.header {
  position: fixed;
  top: 0;

  width: 100%;

  padding-top: 37px;

  color: $color-main-header;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: center;
}

.header__close-btn svg {
  width: 14px;
  height: 14px;

  fill: $color-main-header;
}

.header__user-block {
  display: none;
  flex-basis: 100%;
  justify-content: flex-start;
}

.header__link-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.6px;

  color: $color-main-header;
}

.header__link-name svg {
  margin-right: 10px;

  fill: $color-main-header;
}

.header__link-logout svg {
  width: 16px;
  height: 18px;

  fill: $color-pink;
}

.header__burger-btn {
  display: none;
}

.header__logo {
  display: block;
}

.header__logo svg {
  display: block;

  width: 184px;
  height: 30px;

  fill: $color-logo;
}

/* =====================================================================================
Media max-width: 1060px*/
// @media (max-width: 1150px) {

// }
