.header {
  padding-top: 37px;

  color: $color-arrowtown;
}

.page--nojs .header {
  position: static;

  padding-top: 0;

  background-color: $color-сod-gray;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: center;
}

.page--nojs .header__inner {
  padding-top: 10px;
  padding-bottom: 10px;
}


.header__burger-btn {
  display: none;

  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  background-color: transparent;
  border: none;
}

.header__logo {
  display: block;
}

.header__logo svg {
  display: block;

  width: 184px;
  height: 30px;

  fill: $color-mongoose;
}

/* =====================================================================================
Media max-width: 1050px*/
@media (max-width: 1150px) {
  .header {
    padding-top: 17px;
  }

  .header__logo svg {
    width: 130px;
    height: 22px;
  }
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .header__burger-btn {
    display: block;
  }

  .header__burger-btn svg {
    fill: $color-arrowtown;
  }

  .header__burger-btn:focus svg,
  .header__burger-btn:hover svg {
    fill: $color-brandy-punch;
  }

  .header__burger-btn:active svg {
    fill: $color-orange-peel;
  }
}
