.hero {
  background-color: $color-сod-gray;
  background-image: url("../img/hero-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  min-height: 768px;

  padding-top: 50px;
  padding-bottom: 31px;
}

.hero__content {
  max-width: 600px;
  width: 100%;

  margin-top: auto;
  margin-left: auto;
}

.hero__content img {
  width: 508px;
  height: 146px;
}

.hero__content .main-btn {
  margin-top: 60px;
  margin-bottom: 197px;
  margin-left: 139px;
}

.hero__social-list {
  margin-left: auto;
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .hero__inner {
    min-height: 568px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;

    min-height: 267px;

    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }

  .hero__content img {
    margin-left: 3px;

    width: 246px;
    height: 71px;
  }

  .hero__content .main-btn {
    max-width: 240px;
    min-height: 59px;

    margin-top: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    letter-spacing: 0.7px;

    background: rgba(26, 25, 24, 0.8);
  }

  .hero__social-list {
    display: none;
  }
}

/* =====================================================================================
Media max-width: 400px*/
@media (max-width: 400px) {
  .hero {
    background-image: url("../img/hero-bg-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
