.hero {
  background-color: $color-сod-gray;
  background-image: url("../img/hero-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__inner {
  min-height: 768px;

  padding-top: 215px;
  padding-bottom: 31px;
}

.hero__content {
  max-width: 600px;
  width: 100%;

  margin-left: auto;
}

.hero__content-title {
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 50px;

  font-size: 90px;
  line-height: 90px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: $color-mongoose;
}

.hero__content-title span {
  display: block;
  margin-top: 24px;

  font-size: 50px;
  line-height: 50px;
  letter-spacing: 4.5px;
}

.hero__content .main-btn {
  margin-top: 55px;
  margin-bottom: 197px;
  margin-left: 139px;
}

.hero__social-list {
  margin-left: auto;
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .hero__inner {
    min-height: 568px;
    padding-top: 22px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;

    min-height: 267px;

    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }

  .hero__content-title {
    margin-right: auto;
    margin-left: auto;

    font-size: 41px;
    line-height: 41px;
  }

  .hero__content-title span {
    margin-top: 12px;

    font-size: 26px;
    line-height: 26px;
    letter-spacing: 1.3px;
  }

  .hero__content .main-btn {
    max-width: 240px;
    min-height: 59px;

    margin-top: 82px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    letter-spacing: 0.7px;

    background: rgba(26, 25, 24, 0.8);
  }

  .hero__social-list {
    display: none;
  }
}

/* =====================================================================================
Media max-width: 400px*/
@media (max-width: 400px) {
  .hero {
    background-image: url("../img/hero-bg-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
