.main-nav {
  max-width: 746px;
  width: 100%;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.main-nav__item {
  margin-right: 25px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item a {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  color: $color-arrowtown;
}

.main-nav__item a:focus,
.main-nav__item a:hover {
  color: $color-brandy-punch;
}

.main-nav__item a:active {
  color: $color-orange-peel;
}

.main-nav__item--active a {
  color: $color-chestnut;
}

/* =====================================================================================
Media max-width: 1160px*/
@media (max-width: 1160px) {
  .main-nav {
    max-width: 630px;
  }

  .main-nav__item {
    margin-right: 15px;
  }

  .main-nav__item a {
    font-size: 15px;
    line-height: 16px;
  }
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .main-nav {
    display: none;
  }
}
