.pagination {
  padding-top: 24px;
  padding-bottom: 80px;

  background-color: $color-pearl-bush;
}

.pagination__inner {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.pagination__list-item {
  margin-right: 10px;
}

.pagination__list-item--24,
.pagination__list-item--25 {
  display: none;
}

.pagination__list-item a {
  font-size: 18px;
  line-height: 18px;

  color: $color-arrowtown;
}

.pagination__list-item--active a {
  color: $color-chestnut;
}

.pagination__link-prev {
  margin-right: 18px;
}

.pagination__link-next {
  margin-left: 9px;
}

.pagination__svg {
  width: 8px;
  height: 14px;

  stroke: $color-arrowtown;
}

.pagination__svg--noactive {
  stroke: rgba($color-arrowtown, 0.6);
}

.my-class {
  width: 300px;
  height: 150px;
  background-color: red;
}

.my-class2 {
  width: 300px;
  height: 150px;
  background-color: green;
}

.my-class3 {
  width: 300px;
  height: 150px;
  background-color: turquoise;
}


/* =====================================================================================
Media max-width: 1290px*/
@media (max-width: 1290px) {
  .pagination__link-prev {
    margin-right: 21px;
  }

  .pagination__svg {
    width: 11px;
    height: 21px;
  }

  .pagination__list-item {
    margin-right: 22px;
  }

  .pagination__list-item a {
    font-size: 22px;
    line-height: 22px;
  }

  .pagination__list-item--24,
  .pagination__list-item--25 {
    display: block;
  }

  .pagination__link-next {
    margin-left: -1px;
  }
}

/* =====================================================================================
Media max-width: 700px*/
@media (max-width: 700px) {
  .pagination {
    padding-top: 50px;
    padding-bottom: 59px;
  }
}
