.user-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.user-nav__item a {
  display: block;
}

.user-nav__item svg {
  fill: $color-arrowtown;
}

.user-nav__item--user svg {
  width: 18px;
  height: 21px;
}

.user-nav__item--search {
  margin-left: 28px;
}

.user-nav__item--search svg {
  width: 18px;
  height: 18px;
}

.user-nav__item--basket {
  margin-left: 23px;
}

.user-nav__item--basket svg {
  width: 22px;
  height: 19px;
}

.user-nav__item--list-goods {
  margin-right: 8px;
  margin-left: 22px;
}

.user-nav__item--list-goods svg {
  height: 18px;
  width: 28px;
}

.user-nav__item a:focus svg,
.user-nav__item a:hover svg {
  fill: $color-brandy-punch;
}

.user-nav__item a:active svg {
  fill: $color-orange-peel;
}

/* =====================================================================================
Media max-width: 1210px*/
@media (max-width: 1210px) {
  .user-nav__item--search,
  .user-nav__item--basket {
    margin-left: 15px;
  }

  .user-nav__item--user svg {
    width: 16px;
    height: 19px;
  }

  .user-nav__item--search svg {
    width: 16px;
    height: 16px;
  }

  .user-nav__item--basket svg {
    width: 19px;
    height: 17px;
  }

  .user-nav__item--list-goods {
    margin-right: 0;
  }

  .user-nav__item--list-goods svg {
    height: 16px;
    width: 25px;
  }
}

/* =====================================================================================
Media max-width: 970px*/
@media (max-width: 970px) {
  .user-nav__item--list-goods {
    display: none;
  }
}

/* =====================================================================================
Media max-width: 900px*/
@media (max-width: 900px) {
  .user-nav__item {
    margin-left: 0;
  }

  .user-nav__item--user,
  .user-nav__item--search {
    display: none;
  }
}
