@font-face {
  font-family: "HaginCaps";

  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/HaginCapsMedium.woff2") format("woff2"),
    url("../fonts/HaginCapsMedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";

  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
}
