$color-black: #171515;
$color-white: #e9e1d5;

$color-main: #817155;
$color-main-header: #9b8869;
$color-logo: #baa480;
$color-background: #e9e1d5;

$color-header-hover: #d89527;
$color-header-active: #ff9e00;

$color-pink: #ba4f4f;
