$color-pampas: #f0ede8;
$color-pearl-bush: #e9e1d5;
$color-mongoose: #baa480;
$color-arrowtown: #9b8869;
$color-shadow: #817155;
$color-roman-coffee: #7e5b48;
$color-сod-gray: #171515;
$color-mine-shaft: #333232;
$color-casablanca: #f5b141;
$color-straw: #d5b688;
$color-orange-peel: #ff9e00;
$color-brandy-punch: #d89527;
$color-chestnut: #ba4f4f;
